<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="M5W1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <M5W1.Properties.Settings>
            <setting name="email" serializeAs="String">
                <value>irinatest9@gmail.com</value>
            </setting>
            <setting name="url" serializeAs="String">
                <value>http://google.com</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>irinatest1234</value>
            </setting>
            <setting name="browser" serializeAs="String">
                <value>chrome</value>
            </setting>
        </M5W1.Properties.Settings>
    </userSettings>
</configuration>